In [6]:
import pandas as pd

# Read data

In [ ]:
# Python program to convert .tsv file to .csv file
# importing re library
import re
 
# reading given tsv file
with open("nhgh.tsv", 'r') as myfile:  
  with open("nhgh.csv", 'w') as csv_file:
    for line in myfile:
       
      # Replace every tab with comma
      fileContent = re.sub(",", "x", line)
      fileContent = re.sub("\t", ",", fileContent)
      
       
      # Writing into csv file
      csv_file.write(fileContent)

# output
print("Successfully made csv file")

In [7]:
data = pd.read_csv("C:/Users/User/Desktop/Data/nhgh.csv")
## After dropping rows with na there are more than enough observations
data = data.dropna()

# Upload data to SQLite3 database

In [8]:
import sqlite3

In [9]:
connection = sqlite3.connect('dataset.db')
c = connection.cursor()
c.execute('''CREATE TABLE data (seqn INT, sex INT, age DOUBLE, re INT, 
          income VARCHAR, tx INT, dx INT, wt DOUBLE, ht DOUBLE, bmi DOUBLE, 
          leg DOUBLE, arml DOUBLE, armc DOUBLE, waist DOUBLE, tri DOUBLE, 
          sub DOUBLE, gh DOUBLE, albumin DOUBLE, bun INT, SCr DOUBLE)''')
data.to_sql("data", connection, if_exists='replace')

5343

In [15]:
df = pd.read_sql_table("dataset", connection)

NotImplementedError: